html,body{
	display: flex;
	flex-direction: column;
	height: 100%;
}

body {
	background-color:black;
	color: white;
	margin: 0px;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

#content, #qrcode, #qrcode img{
	transition: 0.4s;
}

.header {
	width: 100%;
	background-color: #333;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header a {
	color: inherit;
	text-decoration: none;
}

.title {
	font-size: xx-large;
	padding: 20px 0;
	padding-left: 20px;
}

.menu {
	padding-right: 10px;
	height: 100%;
	display: flex;
}

.menu a{
	padding: 0px 10px;
	height: 100%;
	display: flex;
	align-items: center;
	transition: 0.4s;
}

.menu a:hover{
	background-color: #555;
}

#content {
	margin-top: 20px;
	width: 80%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 40px;
}

#content h3{
	text-align: center;
}

form {
	width: 100%;
	display: inherit;
	flex-direction: column;
	align-items: center;
}

textarea, .note{
	height: 300px;
	font-size: large;
	background-color: white;
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
	resize: none;
}

textarea, input[type="text"], .note{
	padding: 5px;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fill{
	width: -webkit-fill-available;
	width: -moz-available;
	margin-bottom: 15px;
}

#content .left-align h3{
	text-align: left;
}

.left-align h3{
	margin-bottom: 5px;
}

.left-align p{
	margin: 0;
	margin-left: 10px;
}

.proceed{
	font-size: large;
}

#url{
	font-size: large;
}

.padding{
	margin-bottom: 15px;
}

#qrcode, #qrcode img{
	height: 250px;
}

#qrcode.hidden{
	opacity: 0;
	pointer-events: none;
	height: 0;
}

#qrcode.hidden, #qrcode.hidden img{
	opacity: 0;
	pointer-events: none;
	height: 0;
}


.footer {
	width: 100%;
	background-color: #333;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px 0;
}

.footer a{
	color: inherit;
}

@media only screen and (max-width: 600px) {
	.header{
		flex-direction: column;
		align-items: start;
	}

	.menu{
		justify-content: flex-end;
		width: 100%;
		height: initial;
		padding: 0;
		background-color: #252525;
	}

	.menu a{
		height: initial;
		padding: 10px;
	}

}


